

/* SECTION DO TITULO DA PAGINA SEJA SOCIO*/

  
  .container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }
  .content {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10%;
  }
  .pts-container-socio {
    width: 100%;
    height: 150%;
    display: flex;
   
  }
  .pts-section-socio {
    display: flex;
    width: 60%;
    height: auto;
    justify-content: center;
  }
  .pts-section-socio h3 {
    align-items: center;
    text-align: center;
    color: var(--primary-color);
  }
  .pts-container h1 {
    color: var(--primary-color);
    font-size: 23px;
    font-weight: bold;
  }
  .pts-socio {
    h1 {
      color: var(--primary-color);
      text-align: center;
      font-size: 23px;
      font-weight: bold;
      
    }
  }
  
  /* Area formulario */
  
  .pts-form {
    width: 900px;
    margin-left: -35px;
    background: var(--light-bg);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    margin-bottom: 2%;
    margin-top: 20px;
    

  }
  .pts-label {
    display: flex;
    margin-left: 20px 0 5px;
    font-weight: bold;
    padding: 10px;
    
  } 
  .pts-input,
  .pts-select{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    box-sizing: border-box;
  }  
  .pts-divPts{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pts-btn {
    margin-top: 20px;
    width: 100%;
    background-color: #4caf50;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 6px;
    padding: 10px;
    cursor: pointer;
    
    
    
  }
  .pts-btn:hover {
    background-color: #43a047; /* Efeito ao passar o mouse */
  }
  
  .pts-texto{
    margin-top: 20px;
    padding: 10px;
    

  }
  .pts-check {
    display: flex;
    gap: 8px; /* Espaço entre checkbox e texto */
    margin-top: 20px;
  }
  
  .texto-label {
    margin-top: 6px; /* Move o texto mais para baixo */
  }

  
 

 
  
  